

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    color: #000;
    text-decoration: none;
    vertical-align: baseline;
    background: transparent;
}

img{
    max-width: 100%;
}

#header{
    position: relative;
    width: 100%;
    z-index: 210;
    border-bottom: 1px solid #ebebeb;
    background: #fff;

}

#header .s-inner{
    max-width: 1440px;
    display: flex;
    height: 80px;
    margin: 0 auto;
    padding: 0 24px;

}

#header .logo{
    position: relative;
    flex: none;  /* flex item 크기 고정*/
    height: 100% ;
    white-space: nowrap;
    /* float: left; */
}

#header .logo::after{
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle ;

}

#header .logo img{
    height: 16px;

    vertical-align: middle;

}

#header .gnb_menu{
    display: flex;
    /* width: 100%; */

}

#header .gnb{
    align-self: center;


}

#header ul{
    list-style: none;
    white-space: nowrap;
}

#header .gnb1depth{
    display: flex;
    


    
}

#header .gnb >ul > li {
    height: 100%;
    padding: 25px 0 23px;
    line-height: 1;
    

}

#header .gnb >ul > li > a {
    position: relative;
    display: block;
    font-size: 14px;
    color: #000;
    background-color: white;
    font-weight: bold;
    padding: 9px 7px;
    border-radius: 20px;
}

#header .gnb >ul > li.active > a {   
    background-color: #000;
    color: white;
}

#header .gnb >ul > li.blank {
    width: 50px;
    display: block;
    padding: 0;
}

#header .header_right_gnb {
    position: relative;
    display:  flex;
    height: 100%;
    margin-left: -12px;
    white-space: nowrap;
}

#header .header_right_gnb > ul {
    display:  flex;
    /* height: 100%; */
}

#header .header_right_gnb > ul >li {
    /* align-self: center; */
    height: 100%;
    padding: 0 12px 0 13px;
    vertical-align: middle;

}

#header .header_right_gnb > ul >li > a{
    display: flex;
    align-items: center;
    height: 100%;
    line-height: 80px;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    vertical-align: middle;

}

#header .header_right_gnb > ul >li > a > i {
    width: 23px;
    height: 23px;
}

.gnb_menu .gnb2depth{
  position: absolute;
  top: 80px;
  right: 0;
  left: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  background: #fff;
  transition: all .3s;

}

.gnb_menu .gnb2depth.active {
    opacity: 1;
    height: 650px;
}

.gnb_menu .active .gnb2depth {
    z-index: 99999;

    opacity: 1;
    height: 650px;
    /* background-color: gray; */

}

.gnb_menu .active .gnb2depth > .inner {
    opacity: 1;
}

.gnb_menu .gnb2depth.active > .inner {
    position: relative;
    width: 1390px;
    height: 100%;
    margin: 36px auto 0;
    opacity: 0;
    transition: opacity .3s;
}



.gnb_menu .gnb2depth .inner > .list {
    margin-top: 36px;
    margin-left: 200px;
}

.gnb_menu .gnb2depth .inner > .list.onDepth > li {
    width: 209px;
}

.gnb_menu .gnb2depth li {
    width: calc(100% - 472px);
    padding: 9px 0;
    line-height: 1;
}

.gnb_menu .gnb2depth a:not(.rec-link):hover {
    font-weight: bold;
}

.gnb_menu .gnb2depth a {
    position: relative;
    display: inline-block;
    max-width: calc(100% - 40px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
    line-height: 1.4;
}

/* .gnb_menu .gnb2depth a ::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    transition: left .3s, width .3s;
    border-bottom: 1px solid #000;
} */

.gnb_menu .gnb2depth li > a {
    display: inline-flex;
    align-items: center;
}

.flag-new {
    display: none;
    width: 48px;
    height: 20px;
    margin-left: 10px;
    line-height: 20px;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    text-align: center;
    vertical-align: initial;
    border-radius: 30px;
}

.ins-gnb-tag {
    display: inline;
    width: 36px;
    margin-left: 5px;
    margin-top: 3px;
}

/* img{
    max-width: 100%;
    vertical-align: top;
} */



.gnb_menu li.active > .gnb3depth {
    margin-left: 0;
    opacity: 1;
    z-index: 2;
    transition: margin .5s, opacity .5s;
}

.gnb_menu .new-prd-list.gnb3depth {
    height: 560px;
}

.gnb_menu .gnb3depth {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 509px;
    margin-left: -20px;
    opacity: 1;
    transition: margin .5s;
    overflow: hidden;
}

.gnb_menu .new-prd-list .prd-list-wrap {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.gnb_menu .new-prd-list .prd-list-wrap a{
    display: inline-block;
    width: 100%;
    max-width: 100%;
    height: 100%;
}

.gnb_menu .new-prd-list .prd-list-wrap .main-prd {
    position: absolute;
    top: 0;
    left: 0;
    width: 428px;
    height: 560px;
}

.gnb_menu .new-prd-list .prd-list-wrap .main-prd a {
    position: relative;
    padding: 0;
}

.gnb_menu .new-prd-list .prd-list-wrap a {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    height: 100%;
}

.gnb_menu .new-prd-list .prd-list-wrap .num-1 {
    top: 0;
    left: calc(428px + 24px);
}

.gnb_menu .new-prd-list .prd-list-wrap .sub-prd {
    position: absolute;
    width: 202px;
    height: 268px;
    border-radius: 20px;
    /* background-color: #f7f7f7; */
}

.gnb_menu .new-prd-list .prd-list-wrap .sub-prd a {
    padding: /*24px 20px 0*/0;
}

.gnb_menu .new-prd-list .prd-list-wrap .sub-prd a .pic-wrap {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: absolute; /* 주석 해제하면 글씨만 보임*/
}

.gnb_menu .new-prd-list .prd-list-wrap .pc-pic {
    display: block;
}
.gnb_menu .new-prd-list .prd-list-wrap .sub-prd .txt-grp {
    height: 86px;
    margin-top: 18px;
    white-space: normal;
    position: absolute;
    /* position: relative; */
    margin: 164px 0 0 20px;
    width: calc(100% - 40px);
}

.gnb_menu .new-prd-list .prd-list-wrap .num-2 {
    top: 292px;
    left: calc(428px + 24px);
}

.gnb_menu .new-prd-list .prd-list-wrap .num-3 {
    top: 0;
    left: calc(428px + 250px);
}

.gnb_menu .new-prd-list .prd-list-wrap .num-4 {
    top: 292px;
    left: calc(428px + 250px);
}

.gnb_menu .new-prd-list .prd-list-wrap .num-5 {
    top: 0;
    left: calc(428px + 476px);
}

.gnb_menu .new-prd-list .prd-list-wrap .num-6 {
    top: 292px;
    left: calc(428px + 476px);
}

.gnb_menu .new-prd-list .prd-list-wrap a .pic-wrap{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    border-radius: 20px;
    overflow: hidden;
    z-index: -1;
}


.gnb_menu .new-prd-list .prd-list-wrap a .pic-wrap img {
    width: 100%;
    height: 100%;
    display: block;
}

.gnb_menu .new-prd-list .prd-list-wrap .main-prd .txt-grp{
    position: absolute;
    top: 400px;
    left: 0;
    right: 0;
    padding: 0 30px;
}

.gnb_menu .new-prd-list .prd-list-wrap .main-prd .tit{
    font-size: 30px;
    line-height: 37px;
}

.gnb_menu .new-prd-list .prd-list-wrap .main-prd .desc{
    display: block;
    margin-top: 18px;
    font-size: 14px;
    line-height: 20px;
}

.gnb_menu .new-prd-list .prd-list-wrap .sub-prd .tit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 45px;
    font-size: 18px;
    line-height: 23px;
    word-break: keep-all;
}

.gnb_menu .new-prd-list .prd-list-wrap .tit {
    display: inline-block;
    width: 100%;
    display: -webkit-box;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;

    font-weight: bold;
    /* height: 74px; */
    max-height: 74px;
}

.gnb_menu .new-prd-list .prd-list-wrap .desc {
    display: inline-block;
    width: 100%;
    display: -webkit-box;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.gnb_menu .new-prd-list .tit.theme-blk {
    color: #000;
}

.gnb_menu .new-prd-list .desc.theme-blk{
    color: #707070;
}

.gnb_menu .new-prd-list .prd-list-wrap .sub-prd .desc {
    margin-top: 8px;
    max-height: 33px;
    font-size: 12px;
    line-height: 16px;
}

.gnb_menu .gnb2depth a ::after{
    content: '';
    display: block;
}

.gnb_menu .gnb2depth li.active:after {
    left: 0;
    opacity: 1;
}


.gnb_menu .gnb2depth li:after {
    content: "";
    float: right;
    position: relative;
    top: 0;
    left: -20px;
    width: 25px;
    height: 25px;
    opacity: 0;
    transition: left .5s, opacity .2s;
}


#container .carousel-container {
    box-sizing: border-box;
    max-width: 1920px;
    /* width : 30000px ;  */
    overflow: hidden;
}

.carousel-container #carousel  {
    width : 17127px ;
    display: flex;

}

#container .carousel-container #carousel .slide{
    width : 1920px ;
    height: 810px;
}
    
#container .carousel-container #carousel .slide img{
    width: 100%;
  
}


/* #container .carousel-container .slide-prev{
    height: 40px;
    width: 22px;
    position: absolute;
    background-color: black;
    color: #ffffff;
    color: transparent;
    margin: auto;
    top: 0;
    bottom: 0;
    border: none;
    border-radius: 3px;
    font-size: 5px;
    font-weight: bold;
} */


#container .carousel-container .slide-prev   {
    width: 22px;
    height: 40px;
    left: 60px;

    position: absolute;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    background-color: transparent;

    border: none;

    vertical-align: middle;

    cursor: pointer;

}

#container .carousel-container .slide-next   {
    width: 22px;
    height: 40px;
    right: 60px;

    position: absolute;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    background-color: transparent;

    border: none;

    vertical-align: middle;

    cursor: pointer;

}

#container .carousel-container .slide{
   position: relative;



}

#container .carousel-container .slide-text{
   position: absolute;
   left: 350px;
   top: 250px;
}


#container .carousel-container .slide-text > .title {
    font-size: 2.708vw;
    display: block;
    line-height: 1.15;
    font-weight: bold;
    color: #000;
    word-break: keep-all;

    }

#container .carousel-container .slide-text > button {
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    min-width: 96px;
    height: 40px;
    margin: 0 5px;
    line-height: 38px;
    padding: 0 24px;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid #ffffff;
    border-radius: 20px;
    background: transparent;
    box-sizing: border-box;
    vertical-align: middle;
    cursor: pointer;
    }
    
    




